@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  
}


  @layer base {
    :root {
      --primary: #000000;
      --secondary: #ffffff;
    }
  }